<template>
  <v-card class="ma-3 mx-auto d-flex justify-space-around">
    <v-data-table
      :headers="headers"
      :items="fruits"
      :items-per-page="5"
      class="text-capitalize"
      @click:row="displayDetails"
    ></v-data-table>
    <div v-if="showDetails" class="text-center">
      <v-card-text class="text-capitalize">
        <h2>Details:</h2>
        <br />
        <p v-for="(value, key, index) in selectedRow" :key="index">
          {{ `${key}: ${value}` }}
        </p>
      </v-card-text>
      <v-icon color="cyan darken-4" @click="hideDetails"
        >mdi-close-circle-outline</v-icon
      >
    </div>
  </v-card>
</template>

<script>
export default {
  name: "FruitTable",
  props: ["tableData"],
  data() {
    return {
      showDetails: false,
      selectedRow: {},
    };
  },
  computed: {
    firstObject() {
      return this.tableData[Object.keys(this.tableData)[0]];
    },
    headers() {
      const result = [
        {
          text: "Name",
          value: "name",
          class: "cyan darken-4 white--text body-2 font-weight-bold",
        },
      ];
      for (const key in this.firstObject) {
        result.push({
          text: key.charAt(0).toUpperCase() + key.slice(1),
          value: key,
          class: "cyan darken-4 white--text body-2 font-weight-bold",
        });
      }
      return result;
    },
    fruits() {
      const result = [];
      for (const key in this.tableData) {
        const fruitCounts = {};
        fruitCounts.name = key;
        for (const fruitKey in this.tableData[key]) {
          fruitCounts[fruitKey] = this.tableData[key][fruitKey];
        }
        result.push(fruitCounts);
      }
      return result;
    },
  },
  methods: {
    displayDetails(row) {
      this.showDetails = true;
      this.selectedRow = row;
    },
    hideDetails() {
      this.showDetails = false;
    },
  },
};
</script>

<style>
i {
  color: #ffffff !important;
}
.v-data-footer {
  background: #006064;
  color: #ffffff;
}

.v-select__selection {
  color: #ffffff !important;
}
</style>
