<template>
  <div>
    <v-container>
      <v-form v-model="isEntryValid" ref="form">
        <v-row>
          <v-col cols="3">
            <v-text-field
              v-model="name"
              label="Name"
              :rules="nameRules"
            ></v-text-field>
          </v-col>

          <v-col cols="3">
            <v-text-field
              v-model="apple"
              label="Apple"
              :rules="fruitRules"
            ></v-text-field>
          </v-col>

          <v-col cols="3">
            <v-text-field
              v-model="banana"
              label="Banana"
              :rules="fruitRules"
            ></v-text-field>
          </v-col>

          <v-col cols="3">
            <v-text-field
              v-model="peach"
              label="Peach"
              :rules="fruitRules"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row justify="center">
          <v-btn
            color="cyan darken-4"
            :disabled="!isEntryValid"
            @click="submitForm"
          >
            Add Entry
          </v-btn>
        </v-row>
      </v-form>
    </v-container>
    <v-snackbar
      v-model="displaySnackbar"
      timeout="2000"
      rounded="pill"
      color="success"
      >Entry Added</v-snackbar
    >
  </div>
</template>

<script>
export default {
  name: "InputForm",
  props: ["tableData"],
  data() {
    return {
      name: "",
      apple: null,
      banana: null,
      peach: null,
      displaySnackbar: false,
      isEntryValid: false,
      nameRules: [
        (v) => !!v || "Required",
        (v) =>
          (v && !Object.keys(this.tableData).includes(v.toLowerCase())) ||
          "Entry already exists for this person",
      ],
      fruitRules: [
        (v) => !!v || "Required",
        (v) => !isNaN(parseInt(v, 10)) || "Please enter a valid number",
        (v) =>
          (v >= 0 && v <= Number.MAX_SAFE_INTEGER) ||
          "Please enter a valid number",
      ],
    };
  },
  methods: {
    submitForm() {
      this.$emit(
        "add-entry",
        this.name.toLowerCase(),
        this.apple,
        this.banana,
        this.peach
      );
      this.$refs.form.reset();
      this.displaySnackbar = true;
    },
  },
};
</script>

<style>
button {
  color: #ffffff !important;
}
</style>
