<template>
  <v-app>
    <FruitTable :tableData="sampleData"></FruitTable>
    <InputForm :tableData="sampleData" @add-entry="addEntry"></InputForm>
  </v-app>
</template>

<script>
import FruitTable from "./components/FruitTable";
import InputForm from "./components/InputForm";
import sampleData from "./sample.json";

export default {
  name: "App",
  data() {
    return {
      sampleData,
    };
  },
  components: {
    FruitTable,
    InputForm,
  },
  methods: {
    addEntry(name, apple, banana, peach) {
      this.$set(this.sampleData, name, {
        apple: parseInt(apple, 10),
        banana: parseInt(banana, 10),
        peach: parseInt(peach, 10),
      });
    },
  },
};
</script>
